<div
  class="d-flex justify-content-center justify-content-lg-center align-items-lg-center align-items-center overflor-hidden">
  <div class="row w-100 mx-0 justify-content-lg-center">
    <app-card class="col-6 col-md-3 col-lg-2 col-lg-offset-1" image="assets-icon.png" [title]="titleAsset"
      (click)="goToAssets()"></app-card>
    <app-card class="col-6 col-md-3 col-lg-2" image="governance-icon.png" [title]="titleGovernance"
      (click)="goToGovernance()"></app-card>
    <app-card class="col-6 col-md-3 col-lg-2" image="enrollment-icon.png" [title]="titleEnrolments"
      (click)="goToEnrolment()"></app-card>
  </div>
</div>